html{
	 background: url(odd_wallpaper.jpg);
}

h1 {
	color:#ffffcc;
}

p{
	color:#ffffcc;
}

input{
	border-radius: 5px;
}

select{
	border-radius: 5px;
}

option{
	border-radius: 5px;
}

#radio{
	position: relative;
	float:left;
}

#resultsDiv{
	float:left;
	height: 600px;
	width: 700px;
	border: 5px solid black;
}

#Logout{
	float:right;
	margin-right: 150px;
}
